@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.contacts {
  background-color: var(--color-moderate-cyan);
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    h2 {
      text-align: start;
      color: var(--color-white);
    }

    p {
      color: var(--color-white);
    }
    article {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: var(--color-light-greyish-blue);
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        font-size: type.font-size-st("s");
        color: var(--color-white);
      }

      input,
      textarea {
        border: 1px solid var(--color-light-greyish-blue);
        padding: pad.padding-st-v("s");
        width: 100%;
        background-color: var(--color-white);
      }
    }

    >div {
      // display: flex;
      gap: 1rem;


      a {
        font-size: type.font-size-st("s");
        color: var(--color-white);


      }


    }

    input {
      padding: pad.padding-st-v("s");
      background-color: var(--color-white);
      color: var(--color-navy-dark);
      align-self: start;
    }
  }
}